﻿@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Regular"),url(../fonts/Regular/Roboto-Regular.woff) format("woff"),url(../fonts/Regular/Roboto-Regular.woff2) format("woff2")
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    src: local("Roboto Regular"),url(../fonts/RegularItalic/Roboto-RegularItalic.woff) format("woff"),url(../fonts/RegularItalic/Roboto-RegularItalic.woff2) format("woff2")
}
