﻿/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

html, body {
    font-family: Roboto, sans-serif !important;
}

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 420px;
}

/* Custom styling for ToDo app*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkgrey;
    opacity: 1; /* Firefox */
}

td {
    border-color: #cecece !important;
}

.todo-complete {
    text-decoration: line-through;
    color: #bebebe !important;
    font-style: italic;
    margin-bottom: 12px;
}

#Description {
    height: 2.5rem !important;
    margin-top: 12px !important;
}

input[type="text"]:not(#Email), td {
    line-height: 2rem !important;
    height: 15px;
    padding-bottom: 7px;
    margin-bottom: 13px !important;
    border-bottom: 1px solid #efefef;
}

input[type="text"]:not(#Email):focus {
    border-bottom: 1px solid #FFAB40 !important;
    box-shadow: 0 1px 0 0 #FFAB40 !important;
}

.progress {
    display: inline-block;
    background-color: #B3E5FC;
}

.determinate {
    background-color: #03A9F4 !important;
}

#progress-txt {
    margin-bottom: 18px;
    font-size: 0.8rem;
}

.checkbox-cell {
    width: 30px;
    padding-bottom: 14px !important;
}

input[type="checkbox"] + span:not(.lever) {
    height: 15px;
    line-height: 25px;
}

#progress-complete {
    background-color: #4CAF50 !important;
}

input[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid #FF9100;
    background-color: #FF9100;
}

nav {
    background-color: #2196F3;
}

#progress-percent {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 8px;
}

.btn {
    background-color: #FF9100;
}

.btn:hover {
    background-color: #FF6D00;
}

.btn:focus {
    background-color: #FF6D00;
}

.button-register {
    margin-top: 16px;
    margin-bottom: 16px;
}

#checkbox-container {
    margin-bottom: 18px;
    margin-top: 12px;
}

.btn-floating {
    background-color: #FF9100;
    float:right;
}

.btn-floating:hover {
    background-color: #FF6D00;
}

.field-validation-error, .validation-summary-errors {
    color: #F44336 !important;
}

.card {
    margin-top: 18px;
    padding: 12px;
}
