﻿@model IEnumerable<ToDoApp.Models.ToDo>

<div class="valign-wrapper">
    <div id="progress-percent">@(ViewBag.Percent)%</div>
    <div class="progress">
        @if (ViewBag.Percent == 100)
        {
            <div id="progress-complete" class="determinate" style="width:@(Html.AttributeEncode(ViewBag.Percent))%"></div>
        }
        else
        {
            <div class="determinate" style="width:@(Html.AttributeEncode(ViewBag.Percent))%"></div>
        }

    </div>
</div>

<table class="table">
    @if (Model.Count() == 0)
    {
        <p>No ToDo items have been created! To add a ToDo item fill in the field below and then press enter.</p>
    }
    else
    {
    foreach (var item in Model)
    {
        <tr>
            <td class="checkbox-cell">
                <label>
                    <input id="@(item.Id)" type="checkbox" class="filled-in" @(item.IsDone ? "checked='checked'" : "") />
                    <span></span>
                </label>
            </td>
            <td>
                @if (item.IsDone)
                {
                    <div class="todo-complete">@Html.DisplayFor(modelItem => item.Description)</div>
                }
                else
                {
                    <div class="form-group">
                        @Html.AntiForgeryToken()
                        <div>
                            @Html.EditorFor(modelItem => item.Description, new { htmlAttributes = new { id = item.Id, Value = item.Description, @class = "form-control todo-input-item" } })
                            @Html.ValidationMessageFor(modelItem => item.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
            </td>

            <td>
                <a class="delete-button btn-floating btn-small waves-effect waves-light" id="@(item.Id)" href="/"><i class="material-icons">delete</i></a>
            </td>
        </tr>
    }
    }

</table>

<script src="~/Custom_Scripts/CheckBoxListener.js"></script>
<script src="~/Custom_Scripts/DescriptionEnterListener.js"></script>
<script src="~/Custom_Scripts/ItemDeleteListener.js"></script>

