﻿@model ToDoApp.Models.ToDo

@{
    ViewBag.Title = "Todoes";
}

<h4 class="col m12">My ToDo List</h4>


<div id="tableDiv" class="col m12"></div>
<div id="todoCreateForm" class="col m12">
    <!-- Send request using ajax and onSuccess clear submitted item and remove focus and update table to reflect changes -->
    @using (Ajax.BeginForm("AJAXCreate", "ToDoes", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "tableDiv",
        OnSuccess = "$('#Description').val(''); $('#Description').blur(); $('#Description').removeClass('valid');"
    }))
    {

    <div class="form-group">
        @Html.AntiForgeryToken()
        <div id="todo-input" class="col-md-10">
            @Html.EditorFor(model => model.Description, new {  htmlAttributes = new { placeholder = "Add new item...",  @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    }
</div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BuildTable.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    }