﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <nav>
        <div class="nav-wrapper">
            <div class="container">
                @Html.ActionLink("My ToDoes", "Index", "ToDoes", new { area = "" }, new { @class = "brand-logo" })
                <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        @Html.Partial("_LoginPartial")
    </ul>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ToDoes</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Custom_Scripts/material-sidenav-init.js"></script>
</body>
</html>
