﻿@using ToDoApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col m8 offset-m2  s12 card">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Log In</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col m10 s12">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col m10 s12">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col m10">
                    <div id="checkbox-container">
                        <label for="check">
                            @Html.CheckBoxSimple(m => m.RememberMe, new { id = "check" })
                            <span>@Html.DisplayNameFor(m => m.RememberMe)</span>
                        </label>
                    </div>
                </div>
                <div class="form-group col m10">
                    <div>
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p class="row col m12">
                    No Account? @Html.ActionLink("Register here", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}