﻿@model ToDoApp.Models.RegisterViewModel

<div class="row">
    <div class="col m8 offset-m2  s12 card register-card">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Create a new account</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group col m12">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col m12">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                <div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col m12">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col m12">
                <div>
                    <input type="submit" class="btn btn-default button-register" value="Register" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
